{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": [">0.2%", "not dead", "not ie <= 11", "not op_mini all"]
      }
    ]
  ],
  "sourceType": "unambiguous"
}
